{% include 'core/base.html' %}

<style>
 
</style>

<div class="container col-6 mb-3" >
<div class="m-4 card" style="width: 38rem;" id="chat-messages">
    <div class="card-header">
      <b>Room:</b> {{room.name}}
    </div>
    <ul class="list-group list-group-flush">
      {% if messages %}
      {% for m in messages %}
        <li class="list-group-item custom-li mb-3 rounded-sm bg-dark text-light"><b>{{ m.user.username }}</b> <br> Message: {{ m.content }}</li>
      {% endfor %}
     
      {% else %}
        <h5 class='text-center p-4'>No messages</h5>
      {% endif %}
    </ul>
  </div>
                  
</div>
          

<div class="container col-4 mb-3">    
  <form id="myForm" action="." method="POST">
      <div class="form-group">
          <label for="message"><b>Message</b>:</label>
          <textarea class="form-control" id="chat-message-input" placeholder="Send a Message..." rows="3" name="message" required></textarea>
      </div>
      <button type="submit" class="btn btn-block btn-primary" id="chat-message-submit">Submit</button>
  </form>
</div>    <!-- Additional card content -->
      </div>
    </div>
  </div>
  {{ room.slug|json_script:"json-roomname" }}
  {{ request.user.username|json_script:"json-username" }}
  
<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent)
    const userName = JSON.parse(document.getElementById('json-username').textContent)
    const chatSocket = new WebSocket('ws://' 
    + window.location.host 
    + '/ws/'
    + roomName
    + '/') 
    chatSocket.onclose = function(e) {
      console.log('onclose')
  }

  chatSocket.onmessage = function form_data(e) {
    const data = JSON.parse(e.data);
    if (data.message){
      document.querySelector('#chat-messages').innerHTML += (
        `
        <div class="list-group-item custom-li mb-3 rounded-sm bg-dark text-light">
        <b>${data.username} </b><br>
         Message: ${data.message} 
        </div>`
      );
      
    } else {
      alert('The message was empty!')
  }

  scrollToBottom();
};
 
  document.querySelector('#chat-message-input').focus();
  document.querySelector('#chat-message-input').onkeyup = function(e) {
      if (e.keyCode === 13){
        m_value = document.getElementById('chat-message-input')
        f_value = m_value.value.trim()

        if (f_value === "") {
          alert('The message was empty!')
        
        }
        else{
          
          document.querySelector('#chat-message-submit').click();
          
      } }
  };

    document.querySelector('#chat-message-submit').onclick = function(e) {
      e.preventDefault()

      const messageInputDom = document.querySelector('#chat-message-input');
      const message = messageInputDom.value;

      console.log({
          'message': message,
          'username': userName,
          'room': roomName
      })

      chatSocket.send(JSON.stringify({
          'message': message,
          'username': userName,
          'room': roomName
      }));

      messageInputDom.value = '';

      return false
  };

  function scrollToBottom() {
    let objDiv = document.getElementById("chat-messages");
    objDiv.scrollTop = objDiv.scrollHeight;
  }

  // Add this below the function to trigger the scroll on load.
  scrollToBottom();
</script>
